*.egg-info/
*.pyc
/.coverage
/.dockerignore
/.eggs/
/.env
/.venv/
/build/
/dist/
/docs/_build/
/docs/.venv/
/env/
/tags
/var/
/.idea/
ruff.toml
config.yml
manifest.*

# pyenv
.python-version
/keymaps.db
/.vscode/
/reports/
/config.yml
/manifest.csv
/test/
