[tool.poetry]
name = "spinta"
version = "0.1.41"
description = "A platform for describing, extracting, transforming, loading and serving open data."
authors = ["Mantas Zimnickas <sirexas@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://gitlab.com/atviriduomenys/spinta"
repository = "https://gitlab.com/atviriduomenys/spinta"
documentation = "https://spinta.readthedocs.io/"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Environment :: Console",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: POSIX",
    "Operating System :: POSIX :: Linux",
    "Topic :: Database",
    "Topic :: Database :: Database Engines/Servers",
    "Topic :: Database :: Front-Ends",
]
packages = [
    { include = "spinta" },
]


[tool.poetry.urls]
"Bug Tracker" = "https://gitlab.com/atviriduomenys/spinta/-/issues"


[tool.poetry.scripts]
spinta = "spinta.cli.main:app"


[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "^22.1.0"
authlib = "~0.11"
jinja2 = "^3.1.2"
jsonpatch = "^1.32"
lark-parser = "^0.12.0"
msgpack = "^1.0.4"
multipledispatch = "^0.6.0"
python-multipart = "^0.0.5"
pytz = "^2022.2.1"
requests = "^2.28.1"
"ruamel.yaml" = "^0.17.21"
# FIXME: https://setuptools.readthedocs.io/en/latest/history.html#v58-0-0
#        simpleeval package uses use_2to3 thus it is not compatbile with
#        setuptools>=58
setuptools = "^65.4.1"
setuptools-scm = "^7.0.5"
starlette = "^0.21.0"
texttable = "^1.6.4"
toposort = "^1.7"
tqdm = "^4.64.1"
ujson = "^5.5.0"
unidecode = "^1.3.6"
frictionless = {extras = ["sql"], version = "^3.48.0"}
sqlparse = "^0.4.3"
pprintpp = "^0.4.0"

# CLI tool
click = "^8.1.3"
typer = { version = "^0.6.1", extras = ["all"] }

# API server dependencies
gunicorn = { version = "^20.1.0", optional = false }
uvicorn = { version = "^0.18.3", optional = false }

# PostgreSQL backend dependencies
alembic = { version = "^1.8.1", optional = false }
asyncpg = { version = "^0.22.0", optional = false }
psycopg2-binary = { version = "^2.9.3", optional = false }
# FIXME: https://github.com/python-poetry/poetry/issues/4402
# sqlalchemy = "~1.4"
sqlalchemy = ">=1.4,<1.4.23"

# Mongo backend dependendencies
pymongo = { version = "^4.2.0", optional = false }

# Excel dependencies
xlrd = { version = "^2.0.1", optional = false }

# XML format dependencies
lxml = { version = "^4.9.1", optional = false }

# PII (Person Identifiable Information) dependencies
phonenumbers = { version = "^8.12.56", optional = false }

# Other dependencies
XlsxWriter = "^1.3.7"
openpyxl = "^3.0.7"
GeoAlchemy2 = "^0.9.4"
Shapely = "^1.8.0"
aiohttp = "^3.8.1"
fsspec = "^2022.5.0"
dask = {extras = ["dataframe"], version = "^2022.7.1"}
psutil = "^5.9.3"


[tool.poetry.group.dev.dependencies]
codecov = "^2.1.12"
ipdb = "^0.13.9"
ipython = "^8.5.0"
pp-ez = "^0.2.0"
pytest = "^7.1.3"
pytest-asyncio = "^0.19.0"
pytest-cov = "^4.0.0"
pytest-mock = "^3.9.0"
responses = "^0.21.0"
snoop = "^0.4.2"
# https://github.com/kvesteri/sqlalchemy-utils/issues/472
sqlalchemy-utils = "~0.37"
python-dotenv = "^0.21.0"

# Starlette
httpx = "^0.23.0"

# Docs
sphinx = "^5.2.3"
sphinx-autobuild = "^2021.3.14"
sphinxcontrib-httpdomain = "^1.8.0"
memory-profiler = "^0.58.0"
mypy = "^0.812"
cssselect = "^1.1.0"
objprint = "^0.1.4"
sphinx-rtd-theme = "^1.0.0"
sqlalchemy-stubs = "^0.4"

[_tool.poetry.extras]
# Backends
postgresql = [
    "alembic",
    "asyncpg",
    "psycopg2-binary",
    "sqlalchemy",
    "sqlalchemy-utils",
]
mongo = ["pymongo"]

# Formats
excel = ["xlrd"]
xml = ["lxml"]

# Other
pii = ["phonenumbers"]
server = ["gunicorn", "uvicorn"]

[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# https://mypy.readthedocs.io/en/stable/config_file.html#using-a-pyproject-toml-file
[tool.mypy]
disallow_any_unimported = true
show_error_codes = true
check_untyped_defs = true
plugins = "sqlmypy"
