[tool.poetry]
name = "spinta"
version = "0.1.28"
description = "A platform for describing, extracting, transforming, loading and serving open data."
authors = ["Mantas Zimnickas <sirexas@gmail.com>"]
license = "MIT"
readme = "README.rst"
homepage = "https://gitlab.com/atviriduomenys/spinta"
repository = "https://gitlab.com/atviriduomenys/spinta"
documentation = "https://spinta.readthedocs.io/"
classifiers = [
    "Development Status :: 2 - Pre-Alpha",
    "Environment :: Console",
    "Environment :: Web Environment",
    "Intended Audience :: Developers",
    "Intended Audience :: System Administrators",
    "Operating System :: POSIX",
    "Operating System :: POSIX :: Linux",
    "Topic :: Database",
    "Topic :: Database :: Database Engines/Servers",
    "Topic :: Database :: Front-Ends",
]
packages = [
    { include = "spinta" },
]


[tool.poetry.urls]
"Bug Tracker" = "https://gitlab.com/atviriduomenys/spinta/-/issues"


[tool.poetry.scripts]
spinta = "spinta.cli.main:app"


[tool.poetry.dependencies]
python = "^3.8"
aiofiles = "*"
authlib = "~0.11"
click = "*"
jinja2 = "*"
jsonpatch = "*"
lark-parser = "*"
msgpack = "*"
multipledispatch = "*"
python-multipart = "*"
pytz = "*"
requests = "*"
"ruamel.yaml" = "*"
# FIXME: https://setuptools.readthedocs.io/en/latest/history.html#v58-0-0
#        simpleeval package uses use_2to3 thus it is not compatbile with
#        setuptools>=58
setuptools = "~57"
setuptools-scm = "*"
starlette = "*"
texttable = "*"
toposort = "*"
tqdm = "*"
ujson = "*"
unidecode = "*"
frictionless = {extras = ["sql"], version = "^3.48.0"}
sqlparse = "*"
pprintpp = "*"

# PostgreSQL backend dependencies
alembic = { version = "*", optional = false }
asyncpg = { version = "^0.22.0", optional = false }
psycopg2-binary = { version = "*", optional = false }
# FIXME: https://github.com/python-poetry/poetry/issues/4402
# sqlalchemy = "~1.4"
sqlalchemy = ">=1.4,<1.4.23"

# Mongo backend dependendencies
pymongo = { version = "*", optional = false }

# Excel dependencies
xlrd = { version = "*", optional = false }

# XML format dependencies
lxml = { version = "*", optional = false }

# PII (Person Identifiable Information) dependencies
phonenumbers = { version = "*", optional = false }

# API server dependencies
gunicorn = { version = "*", optional = false }
uvicorn = { version = "*", optional = false }
typer = {extras = ["all"], version = "^0.3.2"}
XlsxWriter = "^1.3.7"
openpyxl = "^3.0.7"
GeoAlchemy2 = "^0.9.4"
Shapely = "^1.8.0"


[_tool.poetry.extras]
# Backends
postgresql = [
    "alembic",
    "asyncpg",
    "psycopg2-binary",
    "sqlalchemy",
    "sqlalchemy-utils",
]
mongo = ["pymongo"]

# Formats
excel = ["xlrd"]
xml = ["lxml"]

# Other
pii = ["phonenumbers"]
server = ["gunicorn", "uvicorn"]


[tool.poetry.dev-dependencies]
codecov = "*"
ipdb = "*"
ipython = "*"
pp-ez = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-mock = "*"
responses = "*"
snoop = "*"
# https://github.com/kvesteri/sqlalchemy-utils/issues/472
sqlalchemy-utils = "~0.37"
python-dotenv = "*"

# Docs
sphinx = "*"
sphinx-autobuild = "*"
sphinxcontrib-httpdomain = "*"
memory-profiler = "^0.58.0"
mypy = "^0.812"
cssselect = "^1.1.0"
objprint = "^0.1.4"
sphinx-rtd-theme = "^1.0.0"
sqlalchemy-stubs = "^0.4"


[build-system]
requires = ["poetry_core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

# https://mypy.readthedocs.io/en/stable/config_file.html#using-a-pyproject-toml-file
[tool.mypy]
disallow_any_unimported = true
show_error_codes = true
check_untyped_defs = true
plugins = "sqlmypy"
