aiofiles
asyncpg
authlib==0.11
click
gunicorn
jinja2
lxml
msgpack
multipledispatch
psycopg2-binary
pymongo
python-multipart
requests
ruamel.yaml
setuptools
setuptools-scm
sqlalchemy
starlette
texttable
tqdm
ujson
unidecode
uvicorn
xlrd
