aiofiles
asyncpg
# FIXME: https://jira.tilaajavastuu.fi/browse/SPLAT-152
authlib==0.11
click
gunicorn
jinja2
jsonpatch
lxml
msgpack
multipledispatch
psycopg2-binary
pymongo
pyrql
python-multipart
pytz
requests
ruamel.yaml
setuptools
setuptools-scm
sqlalchemy
starlette
texttable
toposort
tqdm
ujson
unidecode
uvicorn
xlrd
