config:
  type: string

commands:
  type: object
  items:
    modules:
      type: array
      items:
        type: string
    service:
      type: object
      keys:
        type: string
      values:
        type: importstr

ufuncs:
  type: array
  items:
    type: importstr

components:
  type: object
  keys:
    type: string
  values:
    type: object
    keys:
      type: string
    values:
      type: importstr

exporters:
  type: object
  keys:
    type: string
  values:
    type: importstr

accesslog:
  type: object
  items:
    type:
      type: ref
      ref: components.accesslog
    buffer_size:
      type: integer
      default: 300
  switch: type
  case:
    file:
      file:
        type: string
        default: stdout

backends:
  type: object
  keys:
    type: string
  values:
    type: object
    items:
      type:
        type: ref
        ref: components.backends
      dsn:
        type: string
      migrate:
        type: ref
        ref: components.migrations

manifests:
  type: object
  keys:
    type: string
  values:
    type: object
    items:
      type:
        type: ref
        ref: components.manifests
      backend:
        type: ref
        ref: backends
      sync:
        type: ref
        ref: manifests
    switch: type
    case:
      yaml:
        path:
          type: path

manifest:
  type: ref
  ref: manifests

datasets:
  type: object
  keys:
    type: string  # manifest
  values:
    type: object
    keys:
      type: string  # dataset
    values:
      type: object
      keys:
        type: string  # resource
      values:
        type: string  # dsn

# When scanning for manifest YAML files, ignore these files.
ignore:
  type: array
  items:
    type: string

debug:
  type: bool

# How much time to wait in seconds for the backends to go up.
wait:
  type: integer

# Configuration path, where clients, keys and other things are stored.
config_path:
  type: path

# Path to documentation folder. If set will serve the folder at `/docs`.
docs_path:
  type: path

server_url:
  type: url

# This prefix will be added to autogenerated scope names.
scope_prefix:
  type: string

# Part of the scope will be replaced with a hash to fit scope_max_length.
scope_max_length:
  type: integer

# If True, then id property is always included into Action.SEARCH result,
# even if not explicitly askend.
always_show_id:
  type: bool

default_auth_client:
  type: string

env:
  type: ref
  ref: environments
