name: Tests. Python 3.10-3.13

on:
  push:
    branches: [master, "[0-9]+.[0-9]+"]
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  build:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgis/postgis:16-3.4
        env:
          POSTGRES_USER: ci
          POSTGRES_PASSWORD: secret
          POSTGRES_DB: spinta
        ports:
          - 5432:5432
        options: >-
          --health-cmd "pg_isready -U ci"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

      mongo:
        image: mongo:4.0.9
        ports:
          - 27017:27017

    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12", "3.13"]

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install poetry
          poetry --version
          poetry install --all-extras -vv

      - name: Test with pytest
        env:
          SPINTA_BACKENDS__DEFAULT__DSN: postgresql://ci:secret@localhost:5432/spinta
          SPINTA_BACKENDS__MONGO__DSN: mongodb://localhost:27017/
        run: make test-github
